In [1]:
import pandas as pd
import requests

In [2]:

# Sample CSV data, for demonstration purposes
df = pd.read_csv("wiki_with_code.csv")
df.head()

,ID,NAME,WIKI_PAGE,Status_Code
0,e66912fa8bf67ef6c7fa974ac93bac72,Lyn Z,Lyn_Z,200.0
1,3d4a232524cde73e7b1725cdc663bb4b,Morton Dauwen Zabel,Morton_Dauwen_Zabel,200.0
2,fe332275caf5b3ecb55c1a5cd82a959a,William Zabka,William_Zabka,200.0
3,a57ebea4e9bd96ea6ef1fa644ad627bb,Grace Zabriskie,Grace_Zabriskie,200.0
4,438e93f6240803b56b3fc6309645e04d,John L. Zabriskie,John_L._Zabriskie,404.0

In [3]:
df['Status_Code'].value_counts()

Status_Code
200.0    35645
404.0     4686
Name: count, dtype: int64

In [4]:
count_200 = df['Status_Code'].value_counts().get(200, 0)
count_404 = df['Status_Code'].value_counts().get(404, 0)

#Find percent failed
round(count_404 / (count_404 + count_200) * 100, 1)

11.6

In [5]:
count_404 + count_200

40331

In [6]:
# Function to check the status code of a Wikipedia page
def check_wiki_status(wiki_page):
    url = f"https://en.wikipedia.org/wiki/{wiki_page}"
    try:
        response = requests.get(url)
        return response.status_code
    except requests.RequestException as e:
        return None

In [7]:
# Check if 'Status_Code' column exists and filter records without a status code
if 'Status_Code' in df.columns:
    df_to_process = df[df['Status_Code'].isna()].head(100)
else:
    df['Status_Code'] = None
    df_to_process = df.head(100)

In [8]:
# Update the DataFrame with new status codes
df_to_process['Status_Code'] = df_to_process['WIKI_PAGE'].apply(check_wiki_status)

In [9]:
# Merge the updates back to the original DataFrame
df.update(df_to_process)

In [10]:
df['Status_Code'].value_counts()

Status_Code
200.0    35645
404.0     4686
Name: count, dtype: int64

In [11]:
len(df[df['Status_Code'].isna()])

0

In [12]:
df.to_csv("wiki_with_code.csv", index=False)